.slick-slide > div{
  /* for gap between cards */
  margin: 0 10px; 
}

.projects .card {
  position: relative;
  background-color: var(--color-2) !important;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.projects .card:hover {
  box-shadow: 0 0 10px var(--color-6) !important;
  transform: scale(1.01);
  transition: all 0.5s ease-in-out;
}

.projects .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects a {
  background-color: var(--color-6) !important;
  color: var(--main-text-color) !important;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.projects a:hover {
  background-color: var(--color-7) !important;
  box-shadow: 0 0 10px var(--color-7) !important;
  transition: all 0.5s ease-in-out;
}