.cells .pills {
    max-width: 1000px;
    margin: 0 auto;
}
.cells .tab-content {
    background-color: var(--color-2);
    border-radius: 8px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    min-height: 500px;
}
.cells .nav-link {
    color: rgb(255, 255, 255, .8);
    font-weight: 600;
    /* width: 150px; */
    background-color: var(--color-6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cells .nav-link:hover {
    color: white;
}
.cells .nav-link.active {
    background-color: var(--color-8) !important;
}
.cells .tab-pane {
    text-align: center;
}
.cells .tab-pane .bg-icon {
    margin: 15px auto;
    width: 70px;
    height: 70px;
    background-color: var(--color-8);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cells .tab-pane i {
    font-size: 40px;
}
.cells .tab-pane p {
    padding: 20px;
    /* text-align: justify; */
}
.cells .tab-pane img {
    max-height: 200px;
}