.filter .input-group {
    z-index: 1 !important;
}
.filter .input-group .form-control {
    border: 1px solid var(--color-8);
}
.filter .input-group .form-select {
    border: 1px solid var(--color-8);
    background-color: var(--color-8);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' class='bi bi-filter' viewBox='0 0 14 14'><path d='M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5'/></svg>");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 20px 20px;
    color: var(--main-text-color);
}
.filter .input-group .form-select option{
    border: 1px solid var(--color-8);
    background-color: var(--main-text-color);
    color: #000;
}
.filter .input-group .btn {
    background-color: var(--color-8);
    border: 1px solid var(--color-8);
    color: var(--main-text-color);
}
.filter .input-group .form-control:focus, .filter .input-group .form-select:focus {
    box-shadow: none !important;
    border: none;
}

.filter .dropdown-toggle::after {
    display: none;
}
.filter .dropdown .btn {
    text-decoration: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.filter .dropdown-menu {
    background-color: rgb(41, 17, 91, 0.6) !important;
    border: none !important;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.filter .dropdown-item {
    color: var(--main-text-color) !important;
    transition: all 0.5s ease-in-out; 
}
.filter .dropdown-item:hover {
    background-color: var(--color-8) !important;
    transition: all 0.5s ease-in-out;
}
.filter .dropdown-item.active {
    background-color: var(--color-8) !important;
}