.bg-green-primary {
    background-color: #00e701; /* Green color */
  }
  
  .text-green-primary {
    color: #00e701; /* Green color */
  }
  
  .border-green-primary {
    border-color: #00e701; /* Green color */
  }
  