/* Courses.css */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-item {
    margin: 0 5px; /* Adjust the spacing between page items */
    list-style: none;
    display: inline-block;
  }
  
  .page-link {
    padding: 10px 15px;
    color: hsla(221, 33%, 15%, 1);;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .page-link:hover {
    background-color:hsla(221, 33%, 15%, 1);;
    color: #fff;
  }
  
  .active {
    background-color: hsla(221, 33%, 15%, 1);;
    color: #fff;
    border: 1px solid hsla(221, 33%, 15%, 1);;
  }
  
  /* Optional: Style for previous and next buttons */
  .previous, .next {
    margin: 0 5px;
    list-style: none;
    display: inline-block;
  }
  
  .previous .page-link, .next .page-link {
    padding: 10px 15px;
    color: hsla(221, 33%, 15%, 1);;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .previous .page-link:hover, .next .page-link:hover {
    background-color: hsla(221, 33%, 15%, 1);;
    color: #fff;
  }

  .previous, .next {
    margin: 0 5px;
    list-style: none;
    display: inline-block;
  }
  
  .previous .page-link, .next .page-link {
    padding: 10px 15px;
    color: hsla(221, 33%, 15%, 1); /* Updated color */
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .previous .page-link:hover, .next .page-link:hover {
    background-color: hsla(221, 33%, 15%, 1); /* Updated color */
    color: #fff;
  }
  