.course.card {
    position: relative;
    background-color: var(--color-2) !important;
    height: 100%;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.course.card:hover {
    box-shadow: 0 0 10px var(--color-6) !important;
    transform: scale(1.01);
    transition: all 0.5s ease-in-out;
}

.course.card img {
    height: 220px;
    object-fit: cover;
}

.course.card .type span {
    background-color: var(--color-8) !important;
}

.course .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.course .card-footer a {
    background-color: var(--color-6) !important;
    color: var(--main-text-color) !important;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
.course .card-footer a:hover {
    background-color: var(--color-7) !important;
    box-shadow: 0 0 10px var(--color-7) !important;
    transition: all 0.5s ease-in-out;
}

@-webkit-keyframes shimmer{
    0%{
        background-position: -100% 0
    }
    100%{
        background-position: 100% 0
    }
}

@keyframes shimmer{
    0%{
        background-position: -1200px 0
    }
    100%{
        background-position: 1200px 0
    }
}

.course.shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: rgba(169, 169, 169, 0.1);
    background: linear-gradient(to right, rgb(237, 237, 237, 0.1) 8%, rgb(222, 222, 222, 0.15) 18%, rgb(238, 238, 238, 0.1) 33%);
    background-size: 1200px 100%;
}
