footer {
    background-color: var(--footer-bg-color) !important;
    /*olor: var(--main-text-color);*/
    color: var(--blue-violet);
    position: relative;
}

footer a {
    text-decoration: none;
    color: var(--main-text-color);
    
}
footer i {
    color: var(--blue-violet);
}
.title {
    color: #7c3bed ;
}
.spec {
    margin-top: 40px;
}
