footer {
    background-color: var(--footer-bg-color) !important;
    color: var(--main-text-color);
    position: relative;
}

footer a {
    text-decoration: none;
    color: var(--main-text-color);
}
footer i {
    color: var(--blue-violet);
}