:root {
    --main-bg-color: #101027;
    --main-text-color: #ffffff;
    --navbar-bg-color: #29115b;
    --footer-bg-color: #161730;

    --color-1: #1525C4;
    --color-2: #161730;
    --color-3: #17085F;
    --color-4: #190984;
    --color-5: #2014A1;
    --color-6: #252445;
    --color-7: #29115b;
    --color-8: #4D0DB5;
    --color-9: #9214E0;
    --color-10: #DFDFDD;

    --prussian-blue: hsla(217, 33%, 17%, 1);
    --oxford-blue-2: hsla(222, 47%, 11%, 1);
    --oxford-blue: hsla(221, 33%, 15%, 1);
    --blue-violet: hsla(262, 83%, 58%, 1);
    --blue-violet_a5: hsla(262, 83%, 58%, 0.05);
    --blue-violet_a10: hsla(262, 83%, 58%, 0.1);
    --alice-blue: hsla(214, 32%, 91%, 1);
    --alice-blue-2: hsla(215, 30%, 92%, 1);
    --cultured: hsla(220, 14%, 96%, 1);
    --gainsboro: hsla(220, 13%, 91%, 1);
    --light-gray: hsla(216, 12%, 84%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white_a10: hsla(0, 0%, 100%, 0.1);
    --manatee: hsla(218, 11%, 65%, 1);
    --green-cyan: hsla(161, 94%, 30%, 1);
    --cadet-grey: hsla(215, 20%, 65%, 1);
    --electric-indigo: hsla(263, 70%, 50%, 1);
    --maximum-red: hsla(0, 72%, 51%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --gunmetal: hsla(215, 28%, 17%, 1);

    --linear-gradient-1: linear-gradient(
    to top left,
    #161730 0%,
    #3a1a7f
    );
    --linear-gradient-2: linear-gradient(
    to bottom,
    var(--color-9),
    var(--color-8)
    );
}

section {
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    margin-top: 20px;
}
section h2::before {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    position: absolute;
    left: calc(50% - 40px);
    margin-top: 43px;
    background-color: var(--color-8);
}
section h2 {
    margin-bottom: 10px;
}